[Unit]
Description=Run AMS Start PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 02:10:00
Persistent=true
Unit=ams-start-db-backup.service

[Install]
WantedBy=timers.target
